* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans';
}

html {
    font-size: 16px;
}

body {
    color: white;
}

header {
    height: 10vh;
    background-color: #000;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 2px white;
    position: relative;
    z-index: 100;
}

header p {
    font-size: 2rem;
    margin-left: 3rem;
    font-family: 'Smooch';
    word-spacing: 0.5rem;
}

.link-provider {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 5%;
}

.navlink {
    color: transparent;
    font-family: 'PT Sans';
    font-size: 18px;
    text-decoration: none;
    line-height: 20px;
    text-shadow: 
    0 0 rgb(12, 223, 223),
    0 20px rgb(4, 51, 180);
    overflow: hidden;
    transition: 300ms;
}

.navlink:hover {
    text-shadow: 
    0 -20px rgb(12, 223, 223),
    0 0 rgb(4, 51, 180);
    border-bottom: 2px solid rgb(4, 51, 180);
}

.active {
    font-weight: bold;
    border-bottom: 3px solid rgb(12, 223, 223); 
}

main {
    background-color: #001;
    min-height: 90vh;
}

.home-section {
    text-align: center;
    width: 100%;
    background-color: rgb(19, 23, 18);
}

.wrapper {
    background: linear-gradient(rgb(19, 23, 18), #000)
}

.main-heading {
    font-size: 5rem;
    font-weight: normal;
    margin-bottom: 2rem;
    color: rgb(12, 223, 223);
    border-bottom: solid 2px rgb(43, 97, 247);
}

.upper-page {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url("https://images.unsplash.com/photo-1439792675105-701e6a4ab6f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZGFya3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3rem;
}

.name-span {
    font-family: "Smooch";
}

h6 {
    margin-bottom: 2rem;
    font-family: 'Smooch';
    font-size: 1.5rem;
    word-spacing: 0.5rem;
}

span {
    color: rgb(12, 223, 223);
}

.text-box {
    text-align: left;
    padding: 1rem 3rem;
    width: 50%;
}

#main-text-box {
    margin: auto;
    height: 500px;
}

#main-text-box h2 {
    margin-bottom: 1rem;
}


.skills {
    width: 80%;
    margin: auto;
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 6rem;
}

.card {
    height: 75px;
    width: 75px;
}

img {
    height: auto;
    width: 30%;
    border-radius: 8px;
}

#about-text-box {
    width: 70%
}

.about-section {
    padding: 50px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin-top: 100px;
}

.normal-heading {
    font-size: 3rem;
    font-weight: normal;
    border-bottom: 3px solid white;
    width: 30%;
}

.projects-section {
    padding: 50px;
}

.projects {
    display: flex;
    justify-content: space-between;
}

.project {
    border: 1px solid #456783;
    width: 19%;
    border-radius: 8px;
}

.project img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 740px) {
    header {
        justify-content: center;
    }

    .link-provider {
        width: 100%;
    }
}