* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', arial;
}

header {
    height: 10vh;
    background-color: #000;
    padding: 20px 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 1px 2px white;
}

.link-provider {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 5%;
}

.navlink {
    color: transparent;
    font-family: 'PT Sans';
    font-size: 18px;
    text-decoration: none;
    line-height: 18px;
    text-shadow: 
    0 0 rgb(12, 223, 223),
    0 18px rgb(62, 255, 37);
    overflow: hidden;
    transition: 300ms;
}

.navlink:hover {
    text-shadow: 
    0 -18px rgb(12, 223, 223),
    0 0 rgb(62, 255, 37);
    border-bottom: 2px solid rgb(62, 255, 37);
}

.active {
    font-weight: bold;
    border-bottom: 3px solid rgb(12, 223, 223); 
}